body {
}

.menu-item {
    position: relative;
    display: inline-block;
}

.menu-item > button {
    background-color: #FFFFFF00;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    min-width: 200px;
    width: auto;
    background-color: #141517BF;
    border-radius: 18dp;
    padding: 6dp;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity transform 0.5s cubic-out;
}

.menu-item:hover > .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}