.tree {
    width: 100%;
}

.item-row {
    display: flex;
    align-items: center;
    height: 28px;
    /* border-radius: 6dp; */
    cursor: pointer;
    transition: background-color 0.25s;
    padding: 12dp;
}

.item-row:hover {
    background-color: #FFFFFF1A;
}

.item-container.selected > .item-row {
    background-color: #FFFFFF1A;
}
.item-container.selected .name {
    color: #ffca8e;
    font-weight: bold;
}

.expander, .expander-spacer {
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 4px;
}

.expander {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16dp;
    font-weight: 900;
    color: #ffffff;
    transition: transform 0.15s;
    decorator: text(">");
}

.expander.open {
    transform: rotate(90deg);
}

.name {
    color: #cccccc;
}

.item-row:hover .expander {
    color: #ffffff;
}