body, div,
h1, h2, h3, h4,
h5, h6, p,
hr, pre,
tabset tabs
{
    display: block;
}

h1
{
    font-size: 2em;
    margin: .67em 0;
}

h2
{
    font-size: 1.5em;
    margin: .75em 0;
}

h3
{
    font-size: 1.17em;
    margin: .83em 0;
}

h4, p
{
    margin: 1.12em 0;
}

h5
{
    font-size: .83em;
    margin: 1.5em 0;
}

h6
{
    font-size: .75em;
    margin: 1.67em 0;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

pre
{
    white-space: pre;
}

hr
{
    border-width: 1px;
}


tr
{
    box-sizing: border-box;
    display: table-row;
}
td
{
    box-sizing: border-box;
    display: table-cell;
}
col
{
    box-sizing: border-box;
    display: table-column;
}
colgroup
{
    display: table-column-group;
}
thead, tbody, tfoot
{
    display: table-row-group;
}

*, *::before, *::after {
    font-family: Inter;
    box-sizing: border-box;
}

body {
    font-size: 16dp;
    color: #ffffff;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 6dp 0;
}

h1 { font-size: 22dp; }
h2 { font-size: 20dp; }
h3 { font-size: 18dp; }
h4 { font-size: 16dp; }

p {
    margin: 4dp 0;
    line-height: 1.4;
}

a {
    color: #61dafb;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

ul, ol { margin: 0; padding: 0; }
li { margin: 0; }

select, textarea {
    background: #FFFFFF0D;
    text-align: center;
    justify-content: center;
    vertical-align: center;
    padding: 8dp;
    border-radius: 9dp;
    border-width: 1px;
    border-color: #FFFFFF1D;
}

option {
    background-color: #191a1c;
    padding: 8dp;
}

option:first-child {
    border-radius: 9dp 9dp 0 0;
}

option:last-child {
    border-radius: 0 0 9dp 9dp;
}


input[type="text"] {
    text-align: right;
}

input[type="number"] {
    text-align: right;
    display: block;
    color: #ffffff;
    background-color: #FFFFFF08;
    padding: 6dp;
    border-radius: 9dp;
    border-width: 1px;
    border-color: #FFFFFF17;
    transition: background-color 0.2s, border-color 0.2s;
}

input[type="number"]:hover {
    background-color: #FFFFFF19;
}

label {
    vertical-align: center;
    text-align: left;
}

button {
    display: block;
    color: #ffffff;
    background-color: #FFFFFF0D;
    padding: 6dp 15dp;
    margin: 2dp;
    border-radius: 9dp;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

button:hover {
    background-color: #FFFFFF19;
}

.checkbox {
    padding: 0;
    width: 15dp;
    height: 15dp;
    border-color: #FFFFFF26;
    border-radius: 16dp;
    background-color: #FFFFFF00;
    cursor: pointer;
    border-width: 3dp;
    transition: background-color 0.2s;
}

.checkbox:checked {
    background-color: #FFFFFFFF;
}

.keyframe {
    padding: 0;
    width: 14dp;
    height: 14dp;
    border-color: #FFFFFF26;
    border-radius: 9dp;
    background-color: #FFFFFF;
    cursor: pointer;
    border-width: 3dp;
    transition: background-color 0.2s;
}

.keyframe:hover {
    background-color: #cdcdcd;
}

.keyframe:checked {
    background-color: #FF2149;
    border-color: #BD7B7B26;
}

slidertrack {
    background-color: #333337;
    border-radius: 3dp;
    height: 10dp;
}

slidertrack sliderprogress {
    background-color: #ffd98d;
    border-radius: 3dp;
}

sliderbar {
    width: 1dp;
    height: 1dp;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}