[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git

[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git

[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git

[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking

[submodule "external/portable-file-dialogs"]
	path = external/portable-file-dialogs
	url = https://github.com/Ka1serM/portable-file-dialogs

[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/Ka1serM/ImGuizmo

[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/ImViewGuizmo"]
	path = external/ImViewGuizmo
	url = https://github.com/Ka1serM/ImViewGuizmo.git
[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "external/tbb"]
	path = external/tbb
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "external/tinyexr"]
	path = external/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/ROSS"]
	path = external/ROSS
	url = git@github.com:hs-duesseldorf/ROSS.git
[submodule "external/GaussForge"]
	path = external/GaussForge
	url = https://github.com/3dgscloud/GaussForge.git
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "external/tinyply"]
	path = external/tinyply
	url = https://github.com/ddiakopoulos/tinyply.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/OpenUSD"]
	path = external/OpenUSD
	url = https://github.com/PixarAnimationStudios/OpenUSD.git
[submodule "external/materialx"]
	path = external/materialx
	url = https://github.com/AcademySoftwareFoundation/MaterialX.git
[submodule "external/ImNodeFlow"]
	path = external/ImNodeFlow
	url = https://github.com/Fattorino/ImNodeFlow.git
