[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git

[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git

[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git

[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git

[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking

[submodule "external/portable-file-dialogs"]
	path = external/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
	
[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
